PANDAS: Applying Functions

In [13]:
# importing libraries

import pandas as pd
import matplotlib.pyplot as plt

#reading the csv file
data = pd.read_csv(r"C:\Users\nikhi\Downloads\data_jobs.csv")

# data cleanup
data['job_posted_date'] = pd.to_datetime(data['job_posted_date'])

In [22]:
data[pd.notna(data['salary_year_avg'])]['salary_year_avg']

28        109500.0
77        140000.0
92        120000.0
100       228222.0
109        89000.0
            ...
785624    139216.0
785641    150000.0
785648    221875.0
785682    157500.0
785692    157500.0
Name: salary_year_avg, Length: 22003, dtype: float64

Calculating the projected salary for next year:

In [24]:
df_salary =data[pd.notna(data['salary_year_avg'])]

def projected_salary(salary):
     return salary * 1.03

df_salary['salary_year_inflated'] = df_salary['salary_year_avg'].apply(projected_salary)

df_salary[['salary_year_avg', 'salary_year_inflated']]

C:\Users\nikhi\AppData\Local\Temp\ipykernel_30572\4250104692.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary['salary_year_inflated'] = df_salary['salary_year_avg'].apply(projected_salary)

        salary_year_avg  salary_year_inflated
28             109500.0             112785.00
77             140000.0             144200.00
92             120000.0             123600.00
100            228222.0             235068.66
109             89000.0              91670.00
...                 ...                   ...
785624         139216.0             143392.48
785641         150000.0             154500.00
785648         221875.0             228531.25
785682         157500.0             162225.00
785692         157500.0             162225.00

[22003 rows x 2 columns]